.button-header {
    background-color: #8fe2a2;
    font-family: 'Segoe UI', sans-serif;
    font-size: 24px;
    padding: 1rem 2rem;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    transition: all 0.3s;
    font-weight: bold;
    margin-right: 1rem;
    width: 290px;
    height: 70px;
    text-align: center;
    line-height: normal;
    display: inline-block;
}

.button-header:hover {
    opacity: 0.8;
    background-color: #006417;
    color: white;
}

.button-header.active {
    background: #33994a;
    color: #ffffff;
}

.header {
    margin: 20px 50px;
    display: flex;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px 2em;
    justify-content: space-between;
    align-items: center;
}

.button-header.btn_small {
    width: 140px;
}

.header_for_journal {
    margin: 20px 50px;
    display: flex;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px 2em;
    justify-content: space-between;
    align-items: center;
}
