.button_goal{
    border: none;
    outline: none; 
    margin:10px;
    font-size: 20px;
    font-weight:normal;
    padding: 7px;
    border-color: #05310f86;
    border-radius: 15px;
    box-shadow: 1px 2px 10px #EDFEF1;
    background-color:#EDFEF1 ;
    width: 145px;
    height: 50px;
            display: inline-flex;
    align-items: center;
    justify-content: center;
    line-height: 1; 
    text-decoration: none; 
}

.title_goal{

    font-size: 20px;
    font-weight: medium;
}

.button_goal.active{
    background-color: #33994A;
    color: white;
    border-color: #33994A;
}

.button_goal:hover{
    background-color: #33994A;
    color: white;
    border-color: #33994A;
}

.button_goal:focus{
    background-color: #33994A;
    color: white;
    border-color: #33994A;
}

ul{
    list-style-type:none;
}
.goal_item{
    margin:-8px;
    width: 150px;
}


.goal_item_li{
    margin:-8px;
    width: 150px;
}

h1{
    font-size: 24px;
}

.goal_block{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    margin: 20px;
    margin-top: 0;
}