.activities_h2 {
    font-size: 24px;
}

li {
    margin-bottom: -15px;
    margin-top: -15px;
}

.title_activity {
    font-size: 20px;
    font-weight: bold;
}

.description_activity {
    text-align: left;
    margin: -15px;
    padding: 0px;
    display: inline-block;
    width: 265px;
    font-size: 20px;
    font-weight: normal;
    padding: 20px;
}

.button_activity {
    border: none;
    outline: none;
    margin: 10px;
    padding: 0px;
    font-size: 20px;
    font-weight: normal;
    padding: 20px;
    border-color: #b7fdc7;
    border-radius: 20px;
    box-shadow: 1px 2px 10px #edfef1;
    background-color: #edfef1;
    width: 250px;
}

.block_activity {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.all_activities {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 900px;
    min-width: 600px;
}

.activities {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    width: 100%;
    list-style: none;
    padding: 0;
    margin: 0;
}

.button_activity.active {
    background-color: #33994a;
    color: white;
    border-color: #33994a;
}

.button_activity:hover {
    background-color: #33994a;
    color: white;
    border-color: #33994a;
}

.button_activity:focus {
    background-color: #33994a;
    color: white;
    border-color: #33994a;
}
