.calculationKpfc{
    display: flex;
    flex-direction: column;
    align-items:center;
    margin: 50px;
}

.block.first{
    margin-right: 40px;
}
.input.small{
    width: 50px;
   
}

.block.small{
    display:flex;
    flex-direction: row;
    margin-top: 30px;
}

.block{
    display: flex;
    align-items: center;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none; 
}

input[type='number'],
input[type="number"]:hover,
input[type="number"]:focus {
    appearance: none;
    -moz-appearance: textfield;
}

.text{
    padding: 15px 20px;
    margin-top: 15px;
    width: 300px;
    height: 36px;
    font-size: 30px;
}

label{
    font-size: 30px;
font-weight: bold;
}

.data{
    display: flex;
    flex-direction: column;
    align-items:center;
}

.block_name_and_activity{
    display: flex;
    flex-direction: row;
    align-items:center;
}

.block_name_and_wh{
    flex-direction: column;
}